@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gray-100: #ADADAD;
  --color-gray-200: #949494;
  --color-gray-300: #666666;
  --color-gray-400: #3D3D3D;
  --color-gray-500: #1D1D1D;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

}

.bg-orange-base {
  background-color: #F24D0D;
}

.bg-orange-dark {
  background-color: #C43C08;
}

.bg-blue-light {
  background-color: #D7EFF9;
}

.bg-blue-base {
  background-color: #5EC5FD;
}

.bg-blue-dark {
  background-color: #009CF0;
}

.bg-shape-base {
  background-color: #FBF4F4;
}

.bg-shape-dark {
  background-color: #F5EAEA;
}

.bg-success {
  background-color: #28A745;
}

.bg-danger {
  background-color: #DC3545;
}
